#root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  border: 1px solid #38bdf8;
  padding: 10px 15px;
  border-radius: 5px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.app-background {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}